body {
    height: 100vh;
    background-color: rgb(170, 117, 117);
    font-size:1em;
}

.container {
    display:flex;
    flex-direction: column;
    height:100%;
    background-color: #2980b9;
}

.advice {
    display: flex;
    justify-content:flex-end;
    font-size:4em;
    visibility: hidden;
}

.display {
    height: 40%;
    width: 70%;
    margin:0% 15%;
    font-size:18em;
    color: white;
    display:flex;
    justify-content:center;
    align-items:center;
    border: 3px dashed red;
    border-radius: 50%;

}

.timer {
    height:45%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.timer__break {
    height:70%;
    font-size:3em;
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.timer__focus {
    height:70%;
    font-size:3em;
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.timer__break__button{
    width:20%;
}

.timer__break__button__less{
    width:40%;
    font-size:0.8em;
}

.timer__break__button__more {
    width:40%;
    font-size:0.8em;
}
